.minStyle {
  width: 65px !important;
  min-width: 65px !important;
  max-width: 65px !important;
  flex: 0 0 65px !important;
  min-height: 100vh;
}
.maxStyle {
  width: 250px !important;
  min-width: 250px !important;
  max-width: 250px !important;
  flex: 0 0 250px !important;
  min-height: 100vh;
}
